#app{
  height:90vh;
	text-align:center;
	color:skyblue;
}
.night{
  background-color: black;
  color:white;
}

#swap{
  outline:0;
	
}
.button_night{
  background-color:blue;
  color:white; 
}
div:hover{
	background-color:black;
}